{% load static home_extras%}
<div class="col-sm-6">
  <div class="footer-content">

    <form role="form" id="footer-form">

      <div class="form-group has-feedback">
        <label class="sr-only" for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
        <i class="fa fa-user form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <i class="fa fa-envelope form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback">
        <label class="sr-only" for="message">Message</label>
        <textarea class="form-control" rows="8" id="message" placeholder="Message" name="message" required></textarea>
        <i class="fa fa-pencil form-control-feedback"></i>
      </div>

      <!-- <input type="submit" value="Send" class="btn btn-default"> -->
    </form>

  </div>
</div>
