{% load static home_extras%}

<div class="row">
  <div class="col-md-6">
    <img src="{% static 'images/section-image-1.jpg' %}" alt="">
    <div class="space"></div>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2018 :</span> Master 2 - Informatique, <em>Université Paris VII - Diderot</em></h4></li>
      <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2016 :</span> Licence - Informatique, <em>Université Paris VII - Diderot</em></h4></li>
      <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2014 :</span> BTS CIG, <em>Ecole Estienne Paris 13</em></h4></li>
    </ul>
    <p>* <strong>CIG</strong> : Communication et industries graphiques.</p>
  </div>
</div>
