{% load static home_extras%}

<div class="col-md-6">
  <ul class="list-unstyled">
    <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2012 :</span> Stage de 6sem. (B.G.O)<em> Graphiste / Intégrateur InDesign</em></h4></li>
    <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2011 :</span> Stage de 4sem. (Paris des Créateurs)<em> Graphiste / Intégrateur Web</em></h4></li>
    <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2010 :</span> Stage de 6sem. (Paris des Créateurs)<em> Intégrateur / Développement Web</em></h4></li>
    <li><h4><i class="fa fa-caret-right pr-10 text-colored"></i><span>2009 :</span> Stage de 4sem. (Histoire & Collections)<em> Intégrateur InDesign / Epreuvage numérique</em></h4></li>
  </ul>
</div>
