{% load static home_extras%}
<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="http://www.facebook.com/2008/fbml">
<!--<![endif]-->
	<head>
		<meta property="og:image" content="{% static 'images/preview.jpg' %}" />
		<!--<link rel="image_src" href="{% static 'images/banner.jpg' %}"/>-->
		<meta charset="utf-8">
		<title>Joaquim Lefranc</title>
		<meta name="description" content="Etudiant en Master d'informatique à l'Université Paris VII">
		<meta name="author" content="Joaquim Lefranc">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
		<!-- Font Awesome CSS -->
		<link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
		<!-- Plugins -->
		<link href="{% static 'css/animations.css' %}" rel="stylesheet">
		<!-- Worthy core CSS file -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<!-- Custom css -->
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">
		<!-- Swipebox CSS -->
		<link href="{% static 'src/css/swipebox.css' %}" rel="stylesheet">

		<!-- SwipBox -->
		<script src="{% static 'lib/jquery-2.1.0.min.js' %}" ></script>
		<script src="{% static 'lib/ios-orientationchange-fix.js' %}" ></script>
		<script src="{% static 'src/js/jquery.swipebox.min.js' %}" ></script>
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		{% include "header.html" %}
		{% include "banner.html" %}

		<!-- SECTION PROJECTS -->
		<!-- ================ -->
		<div class="section">
			<div class="container">

				{% if langue == "fr" %}
					<h1 class="text-center title" id="portfolio">Projets</h1>
				{% elif langue == "en" %}
					<h1 class="text-center title" id="portfolio">Projects</h1>
				{% endif %}

				<div class="separator"></div>
				<p class="lead text-center"></p>
				<br>
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					<div class="col-md-12">

						{% include "grid_filters.html" %}
						{% include "grid_projects.html" %}

					</div>
				</div>
			</div>
		</div>
		<!-- END PROJECTS -->

		<!-- SECTION ABOUT -->
		<!-- ================ -->
		<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						{% if langue == "fr" %}
							<h1 id="about" class="title text-center">A propos</h1>
							<p class="lead text-center">Mon cursus d'étudiant.</p>
						{% elif langue == "en" %}
							<h1 id="about" class="title text-center">About me</h1>
							<p class="lead text-center">My student curriculum.</p>
						{% endif %}

						<div class="space"></div>
						{% include "curiculum.html" %}
						<div class="space"></div>

						{% if langue == "fr" %}
							<h2>Expérience</h2>
						{% elif langue == "en" %}
							<h2>Experiences</h2>
						{% endif %}

						<div class="row">
							{% include "experiences.html" %}
							{% include "competences.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ABOUT -->

		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">
			<!-- .footer start -->
			<!-- ================ -->
			<div class="footer section">
				<div class="container">

					{% if langue == "fr" %}
						<h1 class="title text-center" id="contact">Contactez-moi</h1>
					{% elif langue == "en" %}
						<h1 class="title text-center" id="contact">Contact me</h1>
					{% endif %}

					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">

								{% if langue == "fr" %}
									<p class="large">Pour me contacter, envoyez moi un email grâce à ce formulaire !</p>
								{% elif langue == "en" %}
									<p class="large">Contact me with this form or my email address !</p>
								{% endif %}

								<ul class="list-icons">
									<li><i class="fa fa-envelope-o pr-10"></i>@</li>
								</ul>
								<ul class="social-links">
									<li class="linkedin"><a target="_blank" href="https://fr.linkedin.com/in/joaquim-lefranc-6b928b63"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						{% include "contact.html" %}

					</div>
				</div>
			</div>
			<!-- .footer end -->

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2017 Lefranc Joaquim.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->

		<!-- Jquery and Bootstap core js files -->
		<!-- <script type="text/javascript" src="{% static 'plugins/jquery.min.js' %}"></script> -->
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{% static 'plugins/modernizr.js' %}" ></script>
		<!-- Isotope javascript -->
		<script type="text/javascript" src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}" ></script>
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{% static 'plugins/jquery.backstretch.min.js' %}" ></script>

		<script type="text/javascript">
			$(".banner-image").backstretch('{% static 'images/banner.jpg' %}');
			$( '.swipebox' ).swipebox();
		</script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{% static 'plugins/jquery.appear.js' %}"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

	</body>
</html>
