{% load static home_extras%}
<!-- Modal -->
<div class="modal fade" id="project-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="project-{{ project.id }}-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <h4 class="modal-title" id="project-{{ project.id }}-label">
          {% if project.github != None %}
          <a href="{{ project.github }}"><img class="git_logo" src="{% static 'images/git_logo.png' %}" width="64" height="64"/></a>
          {% endif %}

          {% if langue == "fr" %}
              {{ project.titre }}
          {% elif langue == "en" %}
            {{ project.titre_traduction }}
          {% endif %}
        </h4>

        <h4 class="modal-title date_project">
          {{ project.date_realisation }}
        </h4>

      </div>
      <div class="modal-body">

        <div class="row no-gutter">
          <!-- PREVIEW -->
          {% for image in images|getImagesProject:project.id|slice:":1" %}
            <div class="col-xs-8 col-md-8">
              {% if langue == "fr" %}
                <a href="{{ image.img.url }}" class="swipebox" title="{{ image.description }}" rel="{{ project.id }}">
              {% elif langue == "en" %}
                <a href="{{ image.img.url }}" class="swipebox" title="{{ image.description_traduction }}" rel="{{ project.id }}">
              {% endif %}
                  <img class="preview" src="{{ image.img.url }}" />
                </a>
                <br/>
            </div>
          {% endfor %}

          <!-- OTHERS IMAGES -->
          <div class="col-xs-4 col-md-4">
            {% for image in images|getImagesProject:project.id|slice:"1:3" %}
                {% if langue == "fr" %}
                  <a href="{{ image.img.url }}" class="swipebox" title="{{ image.description }}" rel="{{ project.id }}">
                {% elif langue == "en" %}
                  <a href="{{ image.img.url }}" class="swipebox" title="{{ image.description_traduction }}" rel="{{ project.id }}">
                {% endif %}
                    <img class="img-dark" src="{{ image.img.url }}" />
                  </a>
            {% endfor %}

            {% for image in images|getImagesProject:project.id|slice:"3:" %}
              <a hidden href="{{ image.img.url }}" class="swipebox" title="{{ image.description_traduction }}" rel="{{ project.id }}">
                <img class="img-dark" src="{{ image.img.url }}" />
              </a>
            {% endfor %}
          </div>
        </div>


        <div class="row">
          <div class="col-md-8">
            <h4>Description</h4>
            {% if langue == "fr" %}
              <p>{{ project.contenu|safe }}</p>
            {% elif langue == "en" %}
              <p>{{ project.contenu_traduction|safe }}</p>
            {% endif %}
          </div>

          <div class="col-md-4">
            {% if langue == "fr" %}
              <h4>Outils utilisés</h4>
            {% elif langue == "en" %}
              <h4>Used tools</h4>
            {% endif %}

            <div class="block_icons_tools">
              {% for tool in project.tools.all %}
                <img class="logo_tools" src="{{ tool.icon.url }}"/>
              {% endfor %}
            </div>
          </div>
        </div>

        {% if resources|getResourcesProject:project.id|length > 0 %}
          <hr/>
          <div class="block_liens">
            {% for resource in resources|getResourcesProject:project.id %}
                <div id="button">
                  <a href="{{ resource.fichier.url }}">
                    <img id="icon_button" src="{{ resource.type.icon.url }}"/>
                    <div id="title_button">{{ resource.nom }}.{{ resource.type.nom }}</div>
                    <div id="subtitle_button">Version {{ resource.version }}</div>
                  </a>
                </div>
            {% endfor %}
          </div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
